{% extends 'animals/base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
<body class="inner">
<div>
    <a href="{% url 'main' %}"><img id='dom' src="{% static "animals/img/dom.png" %}"  width='90px' height="90px"></a>
</div><br>
<div class="info_pig">
    <h1>Телосложение</h1>
    <h2><p>У кенгуру мощные задние лапы, массивный хвост, узкие плечи, маленькие передние лапы
        (похожие на руки человека), которыми они выкапывают клубни и корни. В случае опасности
        кенгуру переносит всю тяжесть тела на хвост, и тогда обе задние лапы, освободившись,
        одним движением сверху вниз наносят противнику сильный удар. Отталкиваясь мощными задними лапами,
        животные могут прыгать до 12 м в длину и до 3 м в высоту.</p></h2>
    <h1>Питание и образ жизни</h1>
    <h2><p>Кенгуру травоядны. Их основной рацион составляет трава и фрукты.
        Продолжительность жизни крупных кенгуру превышает 12 лет. В среднем кенгуру живут шесть
        лет в дикой природе и свыше 20 лет в неволе (в зависимости от разновидности). В естественной
        среде обитания большинство кенгуру, однако, не достигают зрелости</p></h2>
    <h1>Размножение</h1>
    <h2><p>Размножаются кенгуру раз в год; определённого сезона размножения у них нет.
        Беременность короткая — 27—40 дней. Рождаются один-два детёныша; у большого рыжего
        (рыжего исполинского) кенгуру Macropus rufus — до 3. Длина тела новорожденного
        большого рыжего кенгуру около 25 мм — это самый мелкий детёныш среди млекопитающих по сравнению
        со взрослым животным. Самка вынашивает потомство в сумке 6—8 месяцев. У многих кенгуру происходит
        задержка в имплантации эмбриона. Новое спаривание происходит через 1—2 дня после рождения
        детёныша (у болотного валлаби — за день до рождения детёныша).</p></h2>
    <h1>Комментарии</h1>
{% for i in info %}
<h2>Пользователь: {{ user.username }}</h2>
<h2>{{ i.comment }}</h2>
    {% endfor %}
<br>

{% if user.is_authenticated %}
<form action="{% url 'kenguru' %}" method="post">
    {% csrf_token %}
    {{ f.as_p }}
    <button type="submit">Отправить</button>
    {% else %}
    <h2>Авторизируйтесь, чтобы оставить комментарий</h2>
</form>
{% endif %}
    </div>
</body>


{% endblock %}