{% extends 'animals/base.html' %}
{% load static %}

{% block title %}

{% endblock %}

{% block content %}
<body class="inner">
<div>
    <a href="{% url 'main' %}"><img id='dom' src="{% static "animals/img/dom.png" %}"  width='90px' height="90px"></a>
</div><br>
<div class="info_pig">
    <h1>Внешний вид и строение</h1>
    <h2><p>Для свиней характерно компактное телосложение и длинная морда, заканчивающаяся голым
        хрящевым подвижным «пятачком» — это приспособление для разрыхления
        земли в поисках корма. Клыки хорошо развитые, острые, изогнуты вверх. Конечности
        четырёхпалые; боковые пальцы (второй и четвертый) едва касаются земли.</p></h2>
    <h1>Питание и образ жизни</h1>
    <h2><p>В отличие от других современных копытных, свиньи всеядны. Большинство видов свиней обитает
        в лесах. Свиньи — хорошие пловцы. Бытует ошибочное мнение, что свиньи имеют пристрастие
        к валянию в грязи просто из любви к ней; на самом деле свиньи таким образом избавляются
        от кожных паразитов: высыхая, грязь отпадает вместе с паразитами. Также, грязевая корка защищает
        шкуру свиней от кровососущих паразитов типа комаров и мошки. Кроме того, валяние
        в грязи служит им для охлаждения организма в жаркую погоду..</p></h2>
    <h1>Интеллект</h1>
    <h2><p>В ряде тестов на умственные способности, где анализировались возможности животных
        в решении разных задач, свиньи демонстрируют высокий результат как по параметру
        сообразительности, так и по параметру наблюдательности.</p></h2>
    <h1>Комментарии</h1>
{% for i in info %}
<h2>Пользователь: {{ user.username }}</h2>
<h2>{{ i.comment }}</h2>
    {% endfor %}
<br>

{% if user.is_authenticated %}
<form action="{% url 'pig' %}" method="post">
    {% csrf_token %}
    {{ f.as_p }}
    <button type="submit">Отправить</button>
    {% else %}
    <h2>Авторизируйтесь, чтобы оставить комментарий</h2>
</form>
{% endif %}
    <br>
    </div>
</body>


{% endblock %}